<h2><%= @question.content %></h2>

<%= simple_form_for @user_answer do |f| %>
  <%= f.association :answer, collection: @question.answers, label_method: :content, as: :radio_buttons, input_html: { class: 'checkbox-style'} %>
  <%= f.button :submit, class: 'white' %>
<% end %>
