<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>




<h2><%= @question.content %></h2>
<% counter = 0 %>
<% new_array = [] %>

<%= simple_form_for @user_answer do |f| %>
  <%= f.association :answer, collection: @question.answers, label_method: :content, as: :radio_buttons, input_html: { class: 'checkbox-style'} %>
  <%= f.button :submit, class: 'white' %>
<% end %>
