

<div class="card text-center">
<h2><%= @question.content %></h2>
</div>
<% answer_v = "" %>
<% counter = 1 %>
<% counter2 = 1 %>

<% while counter < 4 %>
  <% @question.answers.each do |answer| %>
    <% answer_v = answer.content %> </p>
    <div class="card text-center">
      <a class="btn btn-primary" href="#" role="button"><%= answer_v %></a>
          <% counter += 1 %>
    </div>
  <% end %>
<% end %>
