// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Poppins&display=swap");

// Define fonts for body and headers
$body-font: "Lilita One", "cursive";
$headers-font: "Lilita One", "cursive";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-family: $body-font;
  color: #f4f1ff;
}

.ff-margin-v-50 {
  margin: 50px 0;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
