.loading-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  gap: 5px p {
    font-style: italic;
    font-size: 12px;
  }
}

.loading-icon {
  svg {
    fill: #fff;
    height: 60px;
    width: 60px;
  }
}
