.ff-grid-rooms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.ff-rooms-container {
  margin: 100px 25px 0px 25px;
}
