.devise-header {
  text-align: center;
  font-size: 3em;
  padding-top: 80px;
  animation: backInRight;
  animation-duration: 1s;
}

.form-inputs {
  margin-top: 60px;
  color: #F4F1FF;
}

.form-actions {
  padding: 10px 10px;
  background: #FF3152;
  border-radius: 8px;
  text-align: center;
  color: #F4F1FF;
}
