.ff-title {
  text-align: center;
  font-size: 3.8em;
  animation: backInRight;
  animation-duration: 1s;
}

.flex-btn-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 50px 0px 50px;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
  padding-bottom: 35px;
  height: 85%;
}
