.room-code {
  text-align: center;
}

.waiting {
  text-align: center;
  font-size: larger;
  margin-bottom: 10px;
}

.player-avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.placeholder-avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.grid-avatars {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  grid-template-rows: repeat(2, 95px);
  grid-gap: 8px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

.flex-loader {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start-btn-position-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 42%;
  width: 100%;
  margin: 0px 50px;
}

// Flex Box Page
.ff-flex-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 0;
}

.ff-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 0px;
  padding-top: 50px;
}
