.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: solid 2px #ff3152;
  border-radius: 50%;
  font-size: 25px;

  p {
    margin-bottom: 0;
    color: #ff3152;
  }
}

.ff-flex-round-1 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ff-grid-round-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 30px auto;
  align-items: center;
}

.image-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0px;
    margin: 0 auto;
  }

  p {
    color: #fff;
    font-style: italic;
    margin-bottom: -20px;
  }
}

.checkbox-second {
  transform: scale(0);
}

.checkbox-second + label {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: solid 5px transparent;
  border-radius: 50%;
  z-index: 10;
  position: relative;
}

.checkbox-second:checked + label {
  border: solid 5px #37b24d;
  border-radius: 50%;
  animation: flipInX;
  animation-duration: 0.3s;
}

.right-answer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    z-index: 10;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0px;
    margin: 0 auto;
  }

  p {
    color: #fff;
    font-style: italic;
    margin-bottom: 5px;
  }

  .icon {
    color: #37b24d;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .right-answer-text {
    margin-left: -5px;
  }
}

.hidden {
  display: none;
  opacity: 0;
}
