<div class="timer-navbar">
  <div class="timer animate__animated animate__pulse animate__infinite	infinite">
    <p data-controller="change-number"
      data-change-number-target="number">10
    </p>
  </div>
</div>
