<h1 class="ff-title">FakeFriends</h1>
<div class="absolute-from-bottom">
  <div class="flex-btn-landing">
    <%= link_to enter_room_path, class: "ff-btn-red" do %>
      <p>Join a game</p>
    <% end %>
    <%= link_to new_room_path, class: "ff-btn-white" do %>
      <p>Host a game</p>
    <% end %>
    <%= link_to informations_path, class: "link-how-to-play" do %>
      <p>How to play</p>
    <% end %>
  </div>
</div>
