<h1>Welcome to fakefriends</h1>

<div class="flex-btn-landing">
  <%= link_to new_room_path, class: "ff-btn" do %>
    <p>Host a game</p>
  <% end %>

  <%= link_to new_room_path, class: "ff-btn" do %>
    <p>Join a game</p>
  <% end %>

  <%= link_to informations_path, class: "ff-btn" do %>
    <p>How to play</p>
  <% end %>
</div>
