<h1>Welcome to fakefriends</h1>

<%= link_to new_room_path, class: "btn btn-primary" do %>
  <p>Host a game</p>
<% end %>

<%= link_to enter_room_path, class: "btn btn-primary" do %>
  <p>Join a game</p>
<% end %>

<%= link_to informations_path, class: "btn btn-primary" do %>
  <p>How to play</p>
<% end %>
