<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="ff-container home-body" data-controller="transition">
  <div class="transition transition-1" data-transition-target="elementLeft"></div>
  <div class="text-container">
  <div class="transition transition-2" data-transition-target="elementRight"></div>
  <div class="text-container">
    <h1 class="ff-title-medium
          animate__animated
          animate__bounce header">How to Play:</h1>
    <p>In FakeFriends, you’ll discover who your real friends are. Wait for your
    host to start the game, and then answer some questions about yourself.</p>

    <p>Then, you’ll see how well you know your friends... see if you can guess their
    answers, and find out the Fake Friend!</p>
  </div>

  <div class="flex-back-link">
    <%= link_to '<< BACK', root_path, data: { action: "click->transition#pressLinkRight" } %>
  </div>

</div>
