

<h1 class="ff-title-info
           animate__animated
           animate__bounce header">How to Play:</h1>

<div class="text-container">
  <p>In FakeFriends, you’ll discover who your real friends are. Wait for your
  host to start the game, and then answer some questions about yourself.</p>

  <p>Then, you’ll see how well you know your friends... see if you can guess their
  answers, and find out the Fake Friend!</p>
</div>

<div class="flex-back-link">
  <%= link_to '<< BACK', root_path, class: 'back-link' %>
</div>
