<div class="ff-container">

  <h2 class="ff-title-medium">Enter a room name</h2>

  <%= simple_form_for @room do |f| %>
    <%= f.input :name, placeholder: "Enter a room name" %>
    <%= f.submit "Enter", class: "ff-btn-form-red" %>
  <% end %>

  <div class="flex-back-link">
    <%= link_to "<< BACK", root_path %>
  </div>

</div>
