<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="ff-container">
  <h1 class="ff-title-ranking">Ranking</h1>
  <div class="ff-ranking-flex">

    <div data-controller="ranking"
      data-ranking-target="friends"
      data-ranking-rankingroom-id-value="<%= @room.id %>">
      <!-- HERE THE PARTIAL WILL BE INSERTED -->
      <%= render "shared/ranking_room", winner: @winner, fakefriend: @fakefriend%>
    </div>

    <div class="ranking-card">
      <%= link_to new_room_path, class: "ranking-button" do %>
      <p>Play again?</p>
      <% end %>
    </div>
  </div>
  <div class="flex-back-link">
    <%= link_to "<< BACK", root_path %>
  </div>
</div>
