* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.ff-background {
  background: asset_url("ff_back.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;

}

a {
  text-decoration: none;
}
