body {
  height: 100vh;
  position: relative;
}

.ff-background {
  display: flex;
  flex-direction: column;
  background: #1b2735;
  background-position: center;
  background-size: cover;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.checkbox-style {
  position: absolute;
  transform: scale(0);
}

.checkbox-style + label {
  cursor: pointer;
  justify-content: center;
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ff-grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.white {
  color: white;
}

button.buttonClassName:disabled {
  opacity: 0.3;
}

.piccy {
  background: asset_url("backstab.png");
  border-style: solid;
  border-color: green;
  border: 0;
  border-width: 0;
  padding: 0px;
  height: 3000px;
  width: 3000px;
}


img {
  border: none;
  padding: 5px;
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
