body {
  height: 100vh;
  position: relative;
}

.ff-background {
  display: flex;
  flex-direction: column;
  background: #1b2735;
  background-position: center;
  background-size: cover;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.ff-grid-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

img {
  border: none;
  padding: 5px;
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
