.ff-btn-red {
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

.ff-btn-form-red {
  display: block;
  padding: 20px 0px 20px 0px;
  width: 100%;
  margin-top: 20px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  color: #f4f1ff;
  border: none;
  z-index: 10;
}

.ff-btn-white {
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
  background: #f4f1ff;
  border-radius: 8px;
  text-align: center;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    color: #212529;
    font-size: larger;
  }
}

.ranking-button {
  margin-top: 10px;
  padding: 20px 30px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

.button-round-1 {
  margin-top: 10px;
  padding: 20px 0 20px;
  width: 250px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;
  z-index: 10;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

// This will remove the radio button
.checkbox-style {
  transform: scale(0);
}

// This will remove the reserved space of the radio button
.form-check {
  margin: 0px !important;
  padding: 0px !important;
}

.checkbox-style + label {
  cursor: pointer;
  background: #ff3152;
  padding: 20px 0 20px;
  margin-top: 20px;
  padding-left: 0;
  width: 250px;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  // This will override the bootstap color
  color: white !important;
  z-index: 10;
}

.active-btn + label {
  background: #37b24d;
}
