.ff-btn-red {
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

.ff-btn-form-red {
  padding: 20px 100px;
  width: 100%;
  margin-top: 20px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  color: #f4f1ff;
  border: none;
}

.ff-btn-white {
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
  background: #f4f1ff;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: larger;
  }
}

.ranking-button {
  margin-top: 10px;
  padding: 20px 30px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

.button-round-1 {
  margin-top: 10px;
  padding: 20px 0 20px;
  width: 250px;
  background: #ff3152;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}
