.ff-btn-red {
  padding: 20px 0px;
  margin: 0px 80px;
  margin-top: 20px;
  background: #FF3152;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    font-size: larger;
  }
}

.ff-btn-white {
  padding: 20px 0px;
  margin: 0px 80px;
  margin-top: 20px;
  background: #F4F1FF;
  border-radius: 8px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    color: black;
    font-size: larger;
  }
}
