.ranking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ff-ranking-card-name {
  font-style: italic;
}

.card-round-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
