.ranking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ff-ranking-card-name {
  font-style: italic;
}

.card-round-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Rooms card

.rooms-card {
  background: #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.1ms ease-in-out;
  position: relative;
  z-index: 10;

  p {
    color: #212529;
    margin-bottom: 0px;
  }
}

.card-header {
  height: 80px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding: 16px 0;
  color: #fff;
}

.header-standard {
  background: linear-gradient(135deg, #ff4663, #cc2742);
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-date {
  font-style: italic;
  font-size: 14px;
}

.expandable-section {
  margin-top: 10px;
  position: relative;
  transition: all 0.3s;
}

.expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.expand-button i {
  font-size: 22px;
}

.expanded-content {
  margin-top: 10px;
}

.card-details {
  font-style: normal;
  font-size: 16px;
}
