.flex-back-link {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
}

.link-how-to-play {
  font-size: larger;
  text-align: center;
  margin-top: 55px;
}
