.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.timer-navbar {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 30px;
}

.ff-home-navbar {
  padding: 25px;
}

.navbar-icon {
  text-align: center;
  font-size: 20px;
  padding: 6px;
  float: right;
  color: darkgoldenrod;
  border: solid 2px #fff;
  background-color: #fff;
  border-radius: 50%;
}
