.ff-title-medium {
  text-align: center;
  font-size: 3em;
  animation: backInRight;
  animation-duration: 1s;
}

.ff-title-large {
  margin-top: 80px;
  text-align: center;
  font-size: 3.8em;
  animation: backInRight;
  animation-duration: 1s;
}
