<div data-controller="change-page"
    data-change-page-question-count-value="<%=@array_of_urls%>"
    data-change-page-url-value="<%= room_ranking_room_path %>">
<h2><%= @room_question.question.content %></h2>



<p data-controller="change-number" data-change-number-target="number">5</p>
</div>
 
