<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<% if @room_question.round == 1 %>
  <%= render "shared/show_first_round"%>
  <% else %>
  <%= render "shared/show_second_round"%>
<% end %>
